{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}
